---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Hubungi Kami"
      description="Sampaikan kebutuhan dukungan penggunaan PanenLangsung untuk operasional petani, pembeli, atau mitra distribusi Anda."
    />
    <Form />
  </div>
</Section>
