---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Alur transaksi dari panen di kebun hingga pesanan tiba di tangan konsumen";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Proses Kerja"
      description={description}
    />
    <Accordion />
  </div>
</Section>